<html>
  <header>
    <title>
      Rent a Cat!
    </title>
  </header>

  <h1>Rent a Cat!</h1>

  <form action="<%= cat_rental_requests_url %>" method="POST">
    <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">

    <label for="cat_rental_request_cat_id">Select a cat!</label>
    <select name="cat_rental_request[cat_id]" id="cat_rental_request_cat_id">
      <option>-option-</option>
      <% @cats.each do |cat| %>
        <option value="<%= cat.id %>" <%= selected="selected" if cat.id.to_s == params[:cat_id] %>><%= cat.name %></option>
      <% end %>
    </select>

    <br>

    <label for="cat_rental_request_start_date">Start date</label>
    <input type="date"
           name="cat_rental_request[start_date]"
           id="cat_rental_request_start_date">

    <br>

    <label for="cat_rental_request_end_date">End date</label>
    <input type="date"
           name="cat_rental_request[end_date]"
           id="cat_rental_request_end_date">

    <br><br>

    <input type="submit" value="Submit request!">

  </form>

</html>