<% action = (@cat.persisted? ? "Edit a Cat!" : "Create a Cat!") %>
<% action_url = (@cat.persisted? ? cat_url(@cat) : cats_url) %>

<h1><%= action %></h1>

<form action="<%= action_url %>" method="POST">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <% if @cat.persisted? %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>

  <label for="cat_name">Name</label>
  <input type="text" name="cat[name]" id="cat_name" value="<%= @cat.name %>">

  <label for="cat_birth_date">Birthday</label>
  <input type="date"
         name="cat[birth_date]"
         id="cat_birth_date"
         value="<%= @cat.birth_date %>">

  <br>
  Sex
  <label for="cat_sex_m">Male</label>
  <input type="radio" name="cat[sex]" id="cat_sex_m" value="M"
         <%= "checked" if @cat.sex == "M" %>>
  <label for="cat_sex_f">Female</label>
  <input type="radio" name="cat[sex]" id="cat_sex_f" value="F"
         <%= "checked" if @cat.sex == "F" %>>

  <br>
  <label for="cat_color">Color</label>
  <select name="cat[color]" id="cat_color">
    <option value="option">-option-</option>
    <% Cat::COLORS.each do |color| %>
      <option value="<%= color %>" <%= "selected" if @cat.color == color %>>
          <%= color %>
      </option>
    <% end %>
  </select>

  <br>
  <label for="cat_description">Description</label>
  <textarea name="cat[description]"
            id="cat_description"
            rows="5"><%= @cat.description %>
  </textarea>

  <br>
  <input type="submit" value="<%= action %>">

</form>

<br><br>
<a href=<%= cats_url %>>Return to index</a>