<html>
  <header>
    <title><%= @cat.name %></title>
  </header>

  <h1><%= @cat.name %>'s Page!</h1>
  <body>
    <h2>Basic Information</h2>

    <table style="width:30%">
      <% @cat.attributes.each do |attribute, value| %>
        <% next if ['created_at', 'updated_at', 'user_id', 'id'].include?(attribute) %>
        <tr>
          <td><strong><%= attribute.capitalize.gsub("_", " ") %></strong></td>
          <td><%= value %></td>
        </tr>
      <% end %>
      <tr>
        <td><strong>Owner</strong></td>
        <td><%= User.find(@cat.user_id).user_name %></td>
      </tr>
    </table>

    <br>

    <h2>Current Requests</h2>
    <% requests = @cat.cat_rental_requests.sort_by { |req| req.start_date } %>
    <table style="width:40%">
      <tr>
        <td><strong>Requestor</strong></td>
        <td><strong>Start Date</strong></td>
        <td><strong>End Date</strong></td>
        <td><strong>Status</strong></td>
      </tr>
      <% requests.each do |request| %>
        <tr>
          <% requestor = User.find(request.user_id) %>
          <% if current_cat_owner_logged_in?(@cat) || current_user==requestor %>
            <td><%= User.find(request.user_id).user_name %></td>
          <% else %>
            <td>**Another User**</td>
          <% end %>
          <td><%= request.start_date %></td>
          <td><%= request.end_date %></td>
          <td><%= request.status %></td>
          <% if request.status == 'PENDING' &&
             current_cat_owner_logged_in?(@cat) %>
            <td><%= button_to( "Approve", "#{approve_cat_rental_request_url(request)}") %></td>
            <td><%= button_to( "DENY", "#{deny_cat_rental_request_url(request)}") %></td>
          <% end %>
        </tr>
      <% end %>
    </table>

    <br>
    <% unless current_cat_owner_logged_in?(@cat) %>
      <br>
      <a href="<%= new_cat_rental_request_url %>">Request <%= @cat.name %></a>
    <% end %>
    <% if current_user == User.find(@cat.user_id) %>
      <br>
      <a href="<%= edit_cat_url(@cat) %>">Edit</a>
    <% end %>
    <br>
    <a href="<%= cats_url %>">Return to index</a>
  </body>
</html>