<!DOCTYPE html>
<html>
<%= flash[:errors] %>
<body>
  <% if current_user %>
    <h3>You are logged in as <%= current_user.user_name %>...</h3>
    <br>
    <%= button_to( "Logout", "#{session_url}", method: :delete) %>
    <br>
  <% else %>
  <%= button_to( "Login!", "#{new_session_url}", method: :get) %>
    <br>
    <%= button_to( "Sign up!", "#{new_user_url}", method: :get) %>
  <% end %>

  <%= yield %>

</body>
</html>
